:root {
	/* --primary: #09e025; */
	--primary: #690644;
	--secondary2:#8e2768;
	
}

.app-sidebar__user-avatar {
    width: 48px;
    background: gray;
    padding: 6px;
}

.app-sidebar__toggle{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15pt;
}

.app-sidebar__toggle::before{
	display: none;
}

.headerRegister, .header-primary{
	background: #009688;
	color: #FFF;
}

.headerUpdate{
	background: var(--primary);
	color: #FFF;
}

.textcenter{
	text-align: center;
}

.textright{
	text-align: right;
}

.textleft{
	text-align: left;
}

.bootstrap-select > .dropdown-toggle{
	border: 1px solid #CCC;
}

/*Estilos login*/
#divLoading{
	color: var(--primary);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254,254,255, .65);
	z-index: 9999;
	display: none;
}

#divLoading img{
	width: 50px;
	height: 50px;
}

.required{
	color: red;
	font-size: 13pt;
	font-weight: bold;
}

/* style portada categoría */
.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background: url(../images/uploads/portada_categoria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}

.prevPhoto label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.prevPhoto img{
	width: 100%;
	height: 100%;
}

.upimg, .notblock{
	display: none !important;
}

.errorArchivo{
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
}

.delPhoto{
	color: #FFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}

#tbl_list_productos img{
	width: 50px;
}

.imgProductoDelete{
	width: 175px;
}

#imgCategoria{
	text-align: center;
}

#imgCategoria img{
	width: 200px;
	margin: auto;
}

/* Upload fotos*/
#containerImages{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#containerImages > div{
	margin-right: 10px;
	margin-bottom: 8px;
}

.prevImage{
	border: 1px solid #CCC;
	width: 120px;
	height: 148px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prevImage img{
	width: 100%;
}

.inputUploadfile{
	display: none;
}

.btnUploadfile, .btnDeleteImage{
	border: 0;
	background-color: #009688;
	text-align: center;
	padding: 2px 3px;
	color: #FFF;
	font-size: 9pt;
	cursor: pointer;
	width: 100%;
}

.btnDeleteImage{
	background-color: #dc3545;
}

.prevImage .loading{
	width: 30px;
	height: 30px;
}

#celFotos img{
	width: 150px;
	margin: 10px;
}

.divmetodpago label, #divCondiciones{
	width: 100%;
	display: flex;
}

.divmetodpago label input, #divCondiciones input{
	margin-right: 15px;
}

#divCondiciones a{
	margin-left: 5px;
}

#divCondicines label{
	margin-bottom: 0;
}

.logo h3{
	color:  var(--primary)
}

.logoImage {
    width: 100%; 
	display: flex;
	height: 100%;
	border-radius: 20%;
}

.logoHeader{
    width: 50px; 
	display: flex;
	height: 50px;
	border-radius: 60%;
}

.modal{
	z-index: 9999;
}

.wrap-icon-header {
    margin-left: auto;
}

.icon-header-item {
    margin-left: 10px;
}

.menu-desktop .main-menu li a:hover {
    color: var(--primary)
}

.menu-desktop .main-menu li.active-menu a,
.menu-desktop .main-menu li.active-menu a:hover {
    color: var(--primary)
}

.wrap-icon-header .icon-header-item:hover {
    color: var(--primary)
}

.wrap-icon-header .cantCarrito.icon-header-item:after {
    background-color: var(--primary)
}

.bg1 {
	background-color: var(--primary)
}

.block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3:hover{
	background-color: var(--primary)
}

/* #F2B578 */

.material-half-bg .cover {
    background-color: var(--primary);
    height: 50vh;
}

/* .material-half-bg {
    background-color: #F2B578;
} */

::selection {
	background-color: var(--primary)
}

.form-control:focus {
	border-color: var(--primary)
}

a{
	color: var(--primary)
}

a:hover{
	color: var(--primary)
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary)
}

.btn-primary:hover{
    background-color: var(--primary);
	border-color: var(--primary)
}
.app-header__logo {
	background-color: var(--primary)
}

.app-sidebar__toggle {
    background-color: var(--primary)
}

.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
    background-color: var(--primary)
}

.app-header {
	background-color: var(--primary);
}

.app-menu__item.active, .app-menu__item:hover, .app-menu__item:focus {
    border-left-color:  var(--primary)
}

.treeview.is-expanded [data-toggle=treeview] {
    border-left-color:  var(--primary)
}

.toggle-flip input[type="checkbox"] + .flip-indecator::after {
	background-color: var(--primary);
}

.sweet-alert button {
	background-color:  var(--primary) !important;
}

.main-menu-m {
	background-color:  var(--primary)
}

.block1-txt:hover {
	background-color:  var(--primary)
}

.headerRegister, .header-primary {
	background: var(--primary);
}

.text-primary {
	color: var(--primary) !important;
}

.user .user-tabs .nav-link.active {
	border-left-color: var(--primary)
}

@media (min-width: 768px) {
	.sidebar-mini.sidenav-toggled .treeview:hover .app-menu__item {
	  border-left-color: var(--primary)
	}
}

.page-item.active .page-link {
	background-color: var(--primary);
	border-color: var(--primary);
}

.page-link {
	color: var(--primary);
}

.page-link:hover {
	color: var(--primary);
}

.arrow-slick1:hover {
	color: var(--primary);
}

.hov-cl1:hover {
	color: var(--primary);
}

.btn-back-to-top:hover {
	background-color: var(--primary);
}

.btn-back-to-top {
	background-color: var(--primary);
}

.swal-button{
	background-color: var(--primary);
}

.hov-btn3:hover{
	border-color: var(--primary);
	background-color: var(--primary);
}

.btn-outline-primary{
	color: #FFF;
	border-color: var(--primary);
	background-color: var(--primary);
}


.btn-outline-primary:hover{
	border-color: var(--primary);
	background-color: var(--primary);
}

.dropdown-item.active, .dropdown-item:active{
	background-color: var(--primary);
}


.rs1-select2 .select2-container .select2-results__option[aria-selected="true"]{
	background: var(--secondary2);
}
.rs1-select2 .select2-container .select2-results__option--highlighted[aria-selected]{
	background: var(--primary);
}

.right-top-bar a:hover{
	color: var(--primary);
}